.container{
    background-color:white;
    max-width: 1550px;
    max-height: 288px;
    color:#9E9E9E;
    font-size: 16px;

}
.services{
    width: 1026px;
    height: 288px;
    display: flex;
    justify-content: space-around;
    margin-left: 255px;
    padding-top: 56px;
}
.imagen{
    width: 70px;
    height: 70px;
    background-color:#0076BD;
    border-radius:50%;
}
.text{
    width:220px;
    text-align: center;
}
.link{
    display: block;
    width: 70px;
    
}
.img{
  margin: 0 auto;
    padding:20px;
    opacity: 0.8;
}
.imagen:hover{
    background-color:white;
    border:2px solid #0076BD;
    border-radius:50%;
}
.heading{
    text-transform:uppercase;
    font-size:18px ;
    Font-weight:bold;
    color:black;
    text-align: center;
}
