.container{
    background-color: white;
    max-width: 1550px;
    max-height: 288px;
    color:#9E9E9E;
    font-size: 16px;

}
.services{
    width: 1026px;
    height: 288px;

    display: flex;
    justify-content: space-around;


    margin-left: 255px;
    padding-top: 56px;

}
.text{
    width:220px;
}
/*
img:first-child{
    border-radius: 100px;
    border: 2px solid #0076BD;
    background-color:white;
    padding: 15px;
}*/
img{
    
    border-radius: 100px;
    background-color:#0076BD;
    padding: 20px;
    opacity: 0.8;
    

    margin-left: 52px;
}
.img{
    background-color:white;
    border:2px solid #0076BD;
}
.heading{
    text-transform:uppercase;
    font-size:18px ;
    Font-weight:bold;
    color:black;
}
